{% extends "plantilla_base.html" %}
{% block content %}

<div class="row">
    <table class="table table-striped" id="tablaEmpleadoSeleccionado" style="display: none;">
        <tr>
            <th colspan="4">EMPLEADO SELECCIONADO</th>
        </tr>
        <tr>
            <th>No. Empleado:</th>
            <th>CURP:</th>
            <th>Nombre(s):</th>
            <th>Apellidos</th>
        </tr>
        <tr>
            <input type="hidden" id="idPersona" name="idPersona" value="">
            <td id="NumeroEmpleado"></td>
            <td id="CurpEmpleado"></td>
            <td id="NombreEmpleado"></td>
            <td id="ApellidosEmpleado"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<div class="container">

        <form id="formularioVacacionesGanadas">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group datepicker-group" id="NumEmpl">
                        <label for="lblNumEmp">No. Empleado:</label>
                        <input id="NumeroEmpleadoSeleccionado" name="NumEmplSel" class="form-control obligatorio botonModalBuscaEmpleado" type="text">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <small id="ENumEmp" class="etiquetaError form-text form-text-error"></small>
                    </div>
                </div>
            </div>
            
            <div class="row pull-right">
                <button class="btn btn-primary" type="button" id="btnGuardaDiasGan">
                    <span class="bootstrap-icons" aria-hidden="true"><i class="bi bi-search"></i></span>
                    Guardar
                </button>
            </div>
        </form>

</div>
<hr>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('gestion_empleados.static', filename='scripts/empleado.js') }}"></script>
<script src="{{ url_for('vacaciones.static', filename='scripts/vacaciones_ganadas.js') }}"></script>
{% endblock %}