# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#Rutas ignoradas
/.venv/
/.vscode/
nomina/docs
nomina/CFDI
rh/gestion_asistencias/archivos/~$Plantilla_Reporte_Incidencias.xlsx
rh/gestion_empleados/docs
rh/gestion_asistencias/archivos/generados
SIA.code-workspace
