# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#Rutas ignoradas
/.venv/
/.vscode/
nomina/docs
nomina/CFDI
nomina/plantillas_docs/~$Plantilla_Reporte_Incidencias.xlsx
rh/gestion_empleados/docs
SIA.code-workspace
