{% extends "plantilla_base.html" %}
{% block content %}


<form id="frmBuscarConceptoEmpleado">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group  datepicker-group" id="NumEmpGrupo">
                <label for="lblNumEmp">No. Empleado</label>
                <input id="NumeroBuscarEmpleado" name="NumeroBuscarEmpleado"
                    class="form-control botonModalBuscaEmpleado obligatorio" type="text">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <small id="ENumEmp" class="etiquetaError form-text form-text-error"></small>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-sm" type="button" id="btnBuscaEmpleadoConcepto">
            <span class="icon-search" aria-hidden="true"></span> Buscar
        </button>
        </div>


    </div>
    <div class="row pull-right">
        <button class="btn btn-primary btn-sm" type="button" id="btnBuscaEmpleadoConcepto">
            <span class="icon-search" aria-hidden="true"></span> Buscar
        </button>
    </div>
</form>
<div class="form-group">
    <small id="EResultado" class="etiquetaError form-text form-text-error"></small>
</div>


<form name="frmCrearConceptoEmpleado" id="frmCrearConceptoEmpleado" method="post" style="display: none;">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group  datepicker-group" id="NumEmpGrupo">
                <label for="lblNumEmp">No. Empleado</label>
                <input id="NumeroBuscarEmpleado" name="NumeroBuscarEmpleado"
                    class="form-control botonModalBuscaEmpleado" type="text">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <small id="ENumEmp" class="etiquetaError form-text form-text-error"></small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lblConcepto">Concepto</label>
                    <input type="text" id="ConceptoExistente" name="ConceptoExistente" class="obligatorio form-control"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="dropdown">
                        <div id="lista_conceptos" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!-- Aquí se mostrarán los resultados -->
                        </div>
                    </div>
                    <small id="EConcepto" class="etiquetaError form-text form-text-error"></small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" id="contenedorCheckbox">
                <input type="checkbox" id="checkboxporcentaje">
                <label for="checkboxporcentaje" class="file">Porcentaje</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group" id="PorcentajeContenedor">
                <label for="lblPorcentaje">Porcentaje<span id="APorcentaje" class="form-text">*</span>:</label>
                <input type="number" name="Porcentaje" id="Porcentaje" placeholder="" value="0.000"
                    class="obligatorio form-control">
                <small id="EPorcentaje" class="etiquetaError form-text form-text-error"></small>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group" id="MontoContenedor">
                <label for="lblMonto">Monto<span id="AMonto" class="form-text">*</span>:</label>
                <input type="number" name="Monto" id="Monto" placeholder="" class="obligatorio form-control">
                <small id="EMonto" class="etiquetaError form-text form-text-error"></small>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <button type="button" id="btnCrearEmpleadoConcepto" class="btn btn-primary pull-right">Crear
                concepto</button>
        </div>
    </div>
    <hr />
    <div class="alert alert-danger" id="AlertaError" style="display: none;" role="alert">
        <strong>Error:</strong>
        verificar los campos capturados.
    </div>
</form>

<div class="row">
    <form id="formResultadoEmpleadoConceptos">
        <div class="table-responsive" style="width: 100%;">
            <table class="table table-striped" id="tablaResultadosEmpleadoConceptos" style="display: none;">
                <thead>
                    <tr>
                        <th colspan="6">RESULTADOS DE LA BÚSQUEDA:</th>
                    </tr>
                    <tr>
                        <th>No. Empleado</th>
                        <th>Tipo de Concepto</th>
                        <th>Concepto</th>
                        <th>Porcentaje</th>
                        <th>Monto</th>
                        <th>Activo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se agregarán las filas de resultados de empleados -->
                </tbody>
            </table>
        </div>
    </form>
</div>




<br>
<div class="row">
    <div class="alert alert-danger" id="AlertaError" style="display: none;" role="alert"><strong>Error:</strong>
        Verificar los campos capturados.</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('prestaciones.static', filename='scripts/empleado_conceptos.js') }}"></script>
<script src="{{ url_for('gestion_empleados.static', filename='scripts/empleado.js') }}"></script>
{% endblock %}