{% extends "plantilla_base.html" %}
{% block content %}


<form id="frmBuscarConceptoEmpleado">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group  datepicker-group" id="NumEmpGrupo">
                <label for="lblNumEmp">No. Empleado</label>
                <input id="NumeroBuscarEmpleado" name="NumeroBuscarEmpleado"
                    class="form-control botonModalBuscaEmpleado obligatorio" type="text">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <small id="ENumEmp" class="etiquetaError form-text form-text-error"></small>
            </div>
        </div>
    </div>

</form>
<div class="form-group">
    <small id="EResultado" class="etiquetaError form-text form-text-error"></small>
</div>


<div class="row">
    <table class="table table-striped" id="tablaEmpleadoSeleccionado" style="display: none;">
        <tr>
            <th colspan="4">EMPLEADO SELECCIONADO</th>
        </tr>
        <tr>
            <th>No. Empleado:</th>
            <th>CURP:</th>
            <th>Nombre(s):</th>
            <th>Apellidos</th>
        </tr>
        <tr>
            <input type="hidden" id="idPersona" name="idPersona" value="">
            <td id="NumeroEmpleado"></td>
            <td id="CurpEmpleado"></td>
            <td id="NombreEmpleado"></td>
            <td id="ApellidosEmpleado"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<div class="row">
    <form id="formResultadoEmpleadoConceptos">
        <div class="table-responsive" style="width: 100%;">
            <table class="table table-striped" id="tablaResultadosEmpleadoConceptos" style="display: none;">
                <thead>
                    <tr>
                        <th colspan="5">RESULTADOS DE LA BÚSQUEDA:</th>
                    </tr>
                    <tr>
                        <input type="hidden" id="TipoPago" name="TipoPago" value="">
                        <th>No. Empleado</th>
                        <th>Tipo de Concepto</th>
                        <th>id Concepto</th>
                        <th>Concepto</th>
                        <th>Porcentaje</th>
                        <th>Monto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se agregarán las filas de resultados de empleados -->
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" id="btnAgregarEmpleadoConcepto" class="btn btn-primary"
                    style="display: none;">Agregar
                    concepto</button>
            </div>
            <br>
        </div>
    </form>
</div>




<br>
<div class="row">
    <div class="alert alert-danger" id="AlertaError" style="display: none;" role="alert"><strong>Error:</strong>
        Verificar los campos capturados.</div>
</div>


<!-- Ventana Modal -->
<div class="modal fade" id="ModalAgregaEmpleadoConcepto" tabindex="-1"
    aria-labelledby="tituloModalAgregaEmpleadoConcepto" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalAgregaEmpleadoConcepto">Agregar concepto</h5>
            </div>
            <div class="modal-body">
                <div id="contenidoModalAgregaEmpleadoConcepto">

                    <form name="frmCrearConceptoEmpleado" id="frmCrearConceptoEmpleado" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="lblTipoConcepto">Tipo de Concepto<span id="ATipoConcepto"
                                        class="form-text">*</span>:</label>
                                <select id="TipoConcepto" name="TipoConcepto" class="obligatorio form-control">
                                    <option value="0">-- Seleccione --</option>
                                    {% if TipoConcepto %}
                                    {% for row in TipoConcepto %}
                                    <option value="{{row.idTipoConcepto}}">{{row.TipoConcepto}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                                <small id="ETipoConcepto" class="etiquetaError form-text form-text-error"></small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="lblConcepto">Concepto<span id="AConcepto"
                                        class="form-text">*</span>:</label>
                                <select id="Concepto" name="Concepto" class="obligatorio form-control">
                                    <option value="0">-- Seleccione --</option>
                                </select>
                                <small id="EConcepto" class="etiquetaError form-text form-text-error"></small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="contenedorCheckbox">
                                    <input type="checkbox" id="checkboxporcentaje">
                                    <label for="checkboxporcentaje" class="file">Porcentaje</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="PorcentajeContenedor">
                                    <label for="lblPorcentaje">Porcentaje<span id="APorcentaje"
                                            class="form-text">*</span>:</label>
                                    <input type="number" name="Porcentaje" id="Porcentaje" placeholder="" value="0.000"
                                        class="obligatorio form-control">
                                    <small id="EPorcentaje" class="etiquetaError form-text form-text-error"></small>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="MontoContenedor">
                                    <label for="lblMonto">Monto<span id="AMonto" class="form-text">*</span>:</label>
                                    <input type="number" name="Monto" id="Monto" placeholder=""
                                        class="obligatorio form-control">
                                    <small id="EMonto" class="etiquetaError form-text form-text-error"></small>
                                </div>
                            </div>

                        </div>
                        <br>

                        <hr />
                        <input type="hidden" id="consecutivo" name="consecutivo" value="">
                    </form>





                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCierreModalAgregaEmpleadoConcepto" class="btn btn-primary"
                    data-dismiss="modal" data-comportamiento="nada">Cancelar</button>
                <button type="button" id="btnCrearEmpleadoConcepto" class="btn btn-primary">Agregar</button>
                <button type="button" id="btnEliminarEmpleadoConcepto" class="btn btn-primary" style="display: none;"
                    data-dismiss="modal">Eliminar</button>

            </div>
        </div>
    </div>
</div>
{% endblock %}




{% block scripts %}
{{ super() }}
<script src="{{ url_for('prestaciones.static', filename='scripts/empleado_conceptos.js') }}"></script>
<script src="{{ url_for('gestion_empleados.static', filename='scripts/empleado.js') }}"></script>
{% endblock %}