.estado-solicitud {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.completado {
    background-color: green;
}

.en-progreso {
    background-color: yellow;
}

.pendiente {
    background-color: red;
}


/* Directorio en árbol */
.tree ul {
    list-style-type: none;
    padding-left: 280px;
}

.tree .folder>ul {
    display: none;
}

.tree .folder.expanded>ul {
    display: block;
}