{% extends "plantilla_base.html" %}
{% block content %}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link oculta-empleado" id="tab-AgregarDiaFestivo" data-toggle="tab" href="#Crear">Agregar</a>
        </li>
        <li class="nav-item active"><a class="nav-link" id="tab-ConsultarDiaFestivo" data-toggle="tab" href="#Consultar">Consultar</a></li>
    </ul>
    <div class="tab-content">
        <style>
            .tab-content form .form-control {
                margin-bottom: 0 !important;
                /* Anula el margen inferior */
            }
        </style>
        <div class="tab-pane oculta-empleado" id="Crear">
            <!-- Contenido de la pestaña Datos Personales -->
            
            <form id="formularioCreaDiaFestivo">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group datepicker-group"  style="z-index: 1;">
                            <label for="lblFechaFestiva">Fecha<span id="AFechaFestiva"
                                    class="form-text"></span>:</label>
                            <input type="text" id="Fecha" name="Fecha" class="form-control obligatorio fecha">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <small id="EFechaFestiva" class="etiquetaError form-text form-text-error"></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lblDescripcionFestividad">Descripción</label>
                            <textarea id="Descripcion" name="Descripcion" class="form-control obligatorio" rows="3"
                                style="resize: none;"></textarea>
                            <small id="EDescripcionFestividad" class="etiquetaError form-text form-text-error"></small>
                        </div>
                    </div>
                    
                </div>
                <div class="row pull-right">
                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardaDiafestivo">
                        <span class="bootstrap-icons" aria-hidden="true"><i class="bi bi-search"></i></span>
                        Guardar
                    </button>
                </div>
            </form>
        </div>
        <div class="tab-pane active" id="Consultar">
            <!-- Contenido de la pestaña -->
            <div class="row">
                <label id="MensajeTablaFestividad" class="form-text">Días festivos registrados:</label>
            </div>
            <div class="row">
                <div class="table-responsive" style="width: 100%;">
                    <table class="table table-striped" id="tablaResultadosFestividad" style="display: none;">
                        <thead>
                            <tr>
                                <th>No. Día Festivo</th>
                                <th>Fecha</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí se agregarán las filas de resultados de empleados -->
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="alert alert-danger" id="AlertaError" style="display: none;" role="alert"><strong>Error:</strong> Verificar los campos capturados.</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('gestion_empleados.static', filename='scripts/empleado.js') }}"></script>
<script src="{{ url_for('gestion_tiempo_no_laboral.static', filename='scripts/dias_festivos.js') }}"></script>
{% endblock %}