{% extends "plantilla_base.html" %}
{% block content %}

<div class="row">
    <table class="table table-striped" id="tablaEmpleadoSeleccionado" style="display: none;">
        <tr>
            <th colspan="4">EMPLEADO SELECCIONADO</th>
        </tr>
        <tr>
            <th>No. Empleado:</th>
            <th>CURP:</th>
            <th>Nombre(s):</th>
            <th>Apellidos</th>
        </tr>
        <tr>
            <input type="hidden" id="idPersona" name="idPersona" value="">
            <td id="NumeroEmpleado"></td>
            <td id="CurpEmpleado"></td>
            <td id="NombreEmpleado"></td>
            <td id="ApellidosEmpleado"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<div class="container">

        <form id="formularioVacacionesGanadas">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group datepicker-group" id="NumEmpl">
                        <label for="lblNumEmp">No. Empleado:</label>
                        <input id="NumeroEmpleadoSeleccionado" name="NumEmplSel" class="form-control obligatorio botonModalBuscaEmpleado" type="text">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <small id="ENumEmp" class="etiquetaError form-text form-text-error"></small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label id="lblDiasGanados" for="lblDiasGanados">Días ganados:</label>
                        <input type="text" id="DiasGanados" class="form-control obligatorio">
                        <small id="EDiasGan" class="etiquetaError form-text form-text-error"></small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group datepicker-group" style="z-index: 1;">
                        <label id ="lblFecha" for="lblFecha">Fecha<span id="AFecha" class="form-text"></span>:</label>
                        <input type="text" id="Fecha" name="Fecha" class="form-control obligatorio fecha">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="display: none;"></span>
                        <small id="EFecha" class="etiquetaError form-text form-text-error"></small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label id ="lblActVacacionesGanadas" for="lblVacacionesGanadas">Activo<span id="AActVacacionesGanadas" class="form-text"></span>:</label>
                        <select id="ActVacacionesGanadas" name="ActVacacionesGanadas" class="obligatorio form-control">
                            <option value="0">-- Seleccione --</option>
                            <option value="1">Inactivo</option>
                            <option value="2">Activo</option>
                        </select>
                        <small id="EActVacacionesGanadas" class="etiquetaError form-text form-text-error"></small>
                    </div>
                </div>
            </div>
            <div class="row pull-right">
                <button class="btn btn-primary" type="button" id="btnGuardaDiasGan">
                    <span class="bootstrap-icons" aria-hidden="true"><i class="bi bi-search"></i></span>
                    Guardar
                </button>
            </div>
        </form>

</div>
<hr>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('gestion_empleados.static', filename='scripts/empleado.js') }}"></script>
<script src="{{ url_for('gestion_tiempo_no_laboral.static', filename='scripts/vacaciones_ganadas.js') }}"></script>
{% endblock %}