{% extends "plantilla_base.html" %}
{% block content %}


<form id="frmBuscaEmpleadoPuesto">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group  datepicker-group" id="NumEmpGrupo">
                <label for="lblNumEmp">No. Empleado</label>
                <input id="NumeroBuscarEmpleado" name="NumeroBuscarEmpleado"
                    class="form-control botonModalBuscaEmpleado" type="text">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <small id="ENumEmp" class="etiquetaError form-text form-text-error"></small>
            </div>
        </div>
    </div>

</form>
<div class="form-group">
    <small id="EResultado" class="etiquetaError form-text form-text-error"></small>
</div>


<div class="row">
    <table class="table table-striped" id="tablaEmpleadoSeleccionado" style="display: none;">
        <tr>
            <th colspan="4">EMPLEADO SELECCIONADO</th>
        </tr>
        <tr>
            <th>No. Empleado:</th>
            <th>CURP:</th>
            <th>Nombre(s):</th>
            <th>Apellidos</th>
        </tr>
        <tr>
            <input type="hidden" id="idPersona" name="idPersona" value="">
            <td id="NumeroEmpleado"></td>
            <td id="CurpEmpleado"></td>
            <td id="NombreEmpleado"></td>
            <td id="ApellidosEmpleado"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>


<div class="form" id="ResultadoPuesto" style="display: none;">
    <form name="frmResultadoPuesto" id="frmResultadoPuesto" method="post">
        <input type="hidden" id="idPuesto" name="idPuesto" value="">
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label for="lblPuesto">Puesto</label>
                    <input type="text" id="Puesto" name="Puesto" class="form-control obligatorio" readonly>
                    <small id="EPuesto" class="etiquetaError form-text form-text-error"></small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="lblTipoEmpleado">Tipo empleado</label>
                    <input type="text" id="TipoEmpleado" name="TipoEmpleado" class="form-control obligatorio" readonly>
                    <small id="EMaterno" class="etiquetaError form-text form-text-error"></small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="lblTipoAlta">Tipo de Alta</label>
                    <input type="text" id="TipoAlta" name="TipoAlta" class="form-control obligatorio" readonly>
                    <small id="ETipoAlta" class="etiquetaError form-text form-text-error"></small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" id="contenedorCheckbox" style="display: none;">
                    <input type="checkbox" id="checkboxConservarVacaciones">
                    <label for="checkboxConservarVacaciones">Conservar vacaciones</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label for="lblCausaBaja">Causa de Baja<span id="ACausaBaja" class="form-text">*</span>:</label>
                    <select id="CausaBaja" name="CausaBaja" class="obligatorio form-control">
                        <option value="0">-- Seleccione --</option>
                    </select>
                    <small id="ECausaBaja" class="etiquetaError form-text form-text-error"> </small>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lblObservaciones">Observaciones</label>
                    <input type="text" id="Observaciones" name="Observaciones" class="form-control">
                    <small id="EObservaciones" class="etiquetaError form-text form-text-error"></small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 ">
                <div class="form-group datepicker-group" style="z-index: 1;">
                    <label for="lblFechaEfecto">Efectos a partir de:<span id="AFechaEfecto"
                            class="form-text">*</span>:</label>
                    <input type="text" id="FechaEfecto" name="FechaEfecto" class="form-control obligatorio fecha">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <small id="EFechaEfecto" class="etiquetaError form-text form-text-error"></small>
                </div>
            </div>

        </div>
        
    </form>

    <div class="row" id="espacio_botones">
        <div class="col-md-12">
            <button type="button" id="btnDarDeBaja" class="btn btn-primary pull-right">Dar de baja</button>

        </div>
    </div>

</div>


<br>
<div class="row">
    <div class="alert alert-danger" id="AlertaError" style="display: none;" role="alert"><strong>Error:</strong>
        Verificar los campos capturados.</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('gestion_empleados.static', filename='scripts/empleado.js') }}"></script>
<script src="{{ url_for('gestion_empleados.static', filename='scripts/bajaempleado.js') }}"></script>
{% endblock %}