{% extends "plantilla_base.html" %}
{% block content %}
<div class="container">
    <form id="formularioContrato">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="lblEmpleado">Empleado<span id="AQuincenas" class="form-text">*</span>:</label>
                    <select id="Empleado" name="Empleado" class="obligatorio form-control">
                        <option value="0">-- Seleccione --</option>
                        {% for empleado in Empleados %}
                            <option value="{{empleado.idPersona}}">{{empleado.ApPaterno}} {{empleado.ApMaterno}} {{empleado.Nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group pull-left">
                    <button class="btn btn-primary" type="button" id="btnGenerarContrato">
                        <span class="bootstrap-icons" aria-hidden="true"><i class="bi bi-search"></i></span>
                        Generar
                    </button>
                </div>
                <div class="form-group pull-right">
                    <button class="btn btn-primary" type="button" id="btnDescargaContrato" style="display: none;">
                        <span class="bootstrap-icons" aria-hidden="true"><i class="bi bi-search"></i></span>
                        Descargar Contrato
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <div id="ImgModal" name="ImgModal" style="display: none;" class="text-center">
                <img src="/nomina/estatico/image/Procesando.gif" />
                <p>Generando archivo . . .
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('gestion_empleados.static', filename='scripts/generar_contrato.js') }}"></script>
{% endblock %}