{% extends "crear_usuario.html" %}

{% block titulo_pestanas %}
<li class="nav-item "><a class="nav-link" data-toggle="tab" href="#Permisos">Buscar</a></li>
{% endblock %}

{% block contenido_pestanas %}
<div class="tab-pane" id="Permisos">
    <!-- Contenido de la pestaña -->

    <div class="row">
        <div class="form-group  datepicker-group" id="NumeroBuscarUsuario">
            <label for="lblNumEmp">Usuario</label>
            <input id="NumeroBuscarUsuario" name="NumeroBuscarUsuario"
                class="form-control botonModalBuscaUsuario" type="text">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <small id="ENumEmp" class="etiquetaError form-text form-text-error"></small>
        </div>
    </div>

    <div class="row">

        <div class="tree">
            <ul>
                <li>
                    <input type="checkbox" id="folder1">
                    <label for="folder1" class="folder">Menú 1</label>
                    <ul>
                        <li>
                            <input type="checkbox" id="submenu1-1">
                            <label for="submenu1-1" class="folder">Submenú 1-1</label>
                            <ul>
                                <li>
                                    <input type="checkbox" id="subsubmenu1-1-1">
                                    <label for="subsubmenu1-1-1" class="file">Sub-submenú 1-1-1</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="subsubmenu1-1-2">
                                    <label for="subsubmenu1-1-2" class="file">Sub-submenú 1-1-2</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <input type="checkbox" id="submenu1-2">
                            <label for="submenu1-2" class="file">Submenú 1-2</label>
                        </li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="folder2">
                    <label for="folder2" class="folder">Menú 2</label>
                    <ul>
                        <li>
                            <input type="checkbox" id="submenu2-1">
                            <label for="submenu2-1" class="file">Submenú 2-1</label>
                        </li>
                        <li>
                            <input type="checkbox" id="submenu2-2">
                            <label for="submenu2-2" class="file">Submenú 2-2</label>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('informatica.static', filename='scripts/modificar_usuario.js') }}"></script>
{% endblock %}