{% extends "crear_usuario.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('informatica.static', filename='css/estilos.css') }}">
{% endblock %}

{% block titulo_pestanas %}
<li class="nav-item "><a class="nav-link" data-toggle="tab" href="#Permisos">Buscar</a></li>
{% endblock %}

{% block contenido_pestanas %}
<div class="tab-pane" id="Permisos">
    <!-- Contenido de la pestaña -->

    <div class="row">
        <div class="form-group  datepicker-group" id="ssBuscarUsuario">
            <label for="lblNumEmp">Usuario</label>
            <input id="BuscarUsuario" name="BuscarUsuario" class="form-control botonModalBuscaUsuario" type="text">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <small id="EBuscarUsuario" class="etiquetaError form-text form-text-error"></small>
        </div>
    </div>

    <div class="row pull-right">
        <button class="btn btn-primary btn-sm" type="button" id="btnBuscaUsuario">
            <span class="icon-search" aria-hidden="true"></span> Buscar
        </button>
    </div>

    <div class="form-group">
        <small id="EResultado" class="etiquetaError form-text form-text-error"></small>
    </div>
    <div class="row">
        <form id="formResultadoUsuarios">
            <div class="table-responsive">
                <table class="table table-striped" id="tablaResultadoUsuarios" style="display: none;">
                    <thead>
                        <tr>
                            <th colspan="5">RESULTADOS DE LA BÚSQUEDA:</th>
                        </tr>
                        <tr>
                            <th>Usuario</th>
                            <th>Contrasenia</th>
                            <th>PrimerIngreso</th>
                            <th>idPersona</th>
                            <th>Activo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se agregarán las filas de resultados de empleados -->
                    </tbody>
                </table>
            </div>
        </form>
    </div>

    
</div>
<br>

<!-- Ventana Modal -->
<div class="modal fade" id="ModalAgregarUsuario" tabindex="-1"
    aria-labelledby="tituloModalAgregarUsuario" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalAgregarUsuario">Agregar permisos</h5>
            </div>
            <div class="modal-body">
                <div id="contenidoModalAgregarUsuario">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group  datepicker-group" id="NumEmpGrupo">
                                <label for="lblNumEmp">No. Empleado</label>
                                <input id="NumeroBuscarEmpleado" name="NumeroBuscarEmpleado"
                                    class="form-control botonModalBuscaEmpleado" type="text">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                <small id="ENumEmp" class="etiquetaError form-text form-text-error"></small>
                            </div>
                        </div>
                        <div class="col-md-4">
                        <div class="form-group">
                            <label for="lblUsuario">Nombre de Usuario<span id="AUsuario"
                                    class="form-text">*</span>:</label>
                            <input type="text" name="Usuario" id="Usuario" placeholder=""
                                class="obligatorio form-control">
                            <small id="EUsuario" class="etiquetaError form-text form-text-error"></small>
                        </div>
                        </div>
                        <div class="col-md-4">
                        <div class="form-group">
                            <label for="lblContrasena">Contraseña<span id="AContrasena"
                                    class="form-text">*</span>:</label>
                            <input type="password" name="Contrasena" id="Contrasena" placeholder=""
                                class="obligatorio form-control">
                            <small id="EContrasena" class="etiquetaError form-text form-text-error"></small>
                        </div>
                        </div>

                </div>

                    <div class="row" id="arbolPaginas" >
                        <div class="row">
                            <label>Permisos:</label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" id="checkbox1">
                            <label for="checkbox1">Escritura</label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" id="checkbox2">
                            <label for="checkbox2">Lectura</label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" id="checkbox3">
                            <label for="checkbox3">Inactiva</label>
                        </div>
                        <br>
                        <br>
                    
                        <div class="row">
                            <label>Páginas:</label>
                        </div>
                        <div id="menu-container" class="tree"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCierreModalAgregaEmpleadoConcepto" class="btn btn-primary"
                    data-dismiss="modal" data-comportamiento="nada">Cancelar</button>
                <button type="button" id="btnCrearEmpleadoConcepto" class="btn btn-primary">Aceptar</button>
                <button type="button" id="btnEliminarEmpleadoConcepto" class="btn btn-primary" style="display: none;"
                    data-dismiss="modal">Eliminar</button>

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('informatica.static', filename='scripts/modificar_usuario.js') }}"></script>
<script src="{{ url_for('informatica.static', filename='scripts/permisos_usuario.js') }}"></script>
{% endblock %}