{% extends "crear_usuario.html" %}

{% block titulo_pestanas %}
<li class="nav-item "><a class="nav-link" data-toggle="tab" href="#Permisos">Buscar</a></li>
{% endblock %}

{% block contenido_pestanas %}
<div class="tab-pane" id="Permisos">
    <!-- Contenido de la pestaña -->

    <div class="row">
        <div class="form-group  datepicker-group" id="ssBuscarUsuario">
            <label for="lblNumEmp">Usuario</label>
            <input id="BuscarUsuario" name="BuscarUsuario"
                class="form-control botonModalBuscaUsuario" type="text">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <small id="EBuscarUsuario" class="etiquetaError form-text form-text-error"></small>
        </div>
    </div>

    <div class="row pull-right">
        <button class="btn btn-primary btn-sm" type="button" id="btnBuscaUsuario">
            <span class="icon-search" aria-hidden="true"></span> Buscar
        </button>
    </div>

    <div class="form-group">
        <small id="EResultado" class="etiquetaError form-text form-text-error"></small>
    </div>
    <div class="row">
        <form id="formResultadoUsuarios">
            <div class="table-responsive">
                <table class="table table-striped" id="tablaResultadoUsuarios" style="display: none;">
                    <thead>
                        <tr>
                            <th colspan="5">RESULTADOS DE LA BÚSQUEDA:</th>
                        </tr>
                        <tr>
                            <th>Usuario</th>
                            <th>Contrasenia</th>
                            <th>PrimerIngreso</th>
                            <th>idPersona</th>
                            <th>Activo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se agregarán las filas de resultados de empleados -->
                    </tbody>
                </table>
            </div>
        </form>
    </div>

    <div class="row">

        <div class="tree" >
            <ul>
                <li>
                    <input type="checkbox" id="folder1">
                    <label for="folder1" class="folder">Menú 1</label>
                    <ul>
                        <li>
                            <input type="checkbox" id="submenu1-1">
                            <label for="submenu1-1" class="folder">Submenú 1-1</label>
                            <ul>
                                <li>
                                    <input type="checkbox" id="subsubmenu1-1-1">
                                    <label for="subsubmenu1-1-1" class="file">Sub-submenú 1-1-1</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="subsubmenu1-1-2">
                                    <label for="subsubmenu1-1-2" class="file">Sub-submenú 1-1-2</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <input type="checkbox" id="submenu1-2">
                            <label for="submenu1-2" class="file">Submenú 1-2</label>
                        </li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="folder2">
                    <label for="folder2" class="folder">Menú 2</label>
                    <ul>
                        <li>
                            <input type="checkbox" id="submenu2-1">
                            <label for="submenu2-1" class="file">Submenú 2-1</label>
                        </li>
                        <li>
                            <input type="checkbox" id="submenu2-2">
                            <label for="submenu2-2" class="file">Submenú 2-2</label>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('informatica.static', filename='scripts/modificar_usuario.js') }}"></script>
{% endblock %}