{% extends "plantilla_base.html" %}
{% block content %}

<div class="row">
    <table class="table table-striped" id="tablaEmpleadoSeleccionado" style="display: none;">
        <tr>
            <th colspan="4">EMPLEADO SELECCIONADO</th>
        </tr>
        <tr>
            <th>No. Empleado:</th>
            <th>CURP:</th>
            <th>Nombre(s):</th>
            <th>Apellidos</th>
        </tr>
        <tr>
            <input type="hidden" id="idPersona" name="idPersona" value="">
            <td id="NumeroEmpleado"></td>
            <td id="CurpEmpleado"></td>
            <td id="NombreEmpleado"></td>
            <td id="ApellidosEmpleado"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>




<div class="container">

    <form id="formularioBuscaIncidencia">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group  datepicker-group" id="NumEmpGrupo">
                    <label for="lblNumEmp">No. Empleado</label>
                    <input id="NumeroBuscarEmpleado" name="NumeroBuscarEmpleado"
                        class="form-control botonModalBuscaEmpleado" type="text">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <small id="ENumEmp" class="etiquetaError form-text form-text-error"></small>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group datepicker-group" style="z-index: 1;">
                    <label for="lblFechaInicio">Desde<span id="AFechaInicio" class="form-text"></span>:</label>
                    <input type="text" id="BuscaFechaInicio" name="BuscaFechaInicio" class="form-control obligatorio">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <small id="EFechaInicio" class="etiquetaError form-text form-text-error"></small>
                </div>

            </div>
            <div class="col-md-2">
                <div class="form-group datepicker-group" style="z-index: 1;">
                    <label for="lblFechaFin">Hasta<span id="AFechaFin" class="form-text"></span>:</label>
                    <input type="text" id="BuscaFechaFin" name="BuscaFechaFin" class="form-control obligatorio">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <small id="EFechaFin" class="etiquetaError form-text form-text-error"></small>
                </div>
            </div>

        </div>
        <div class="row pull-right">
            <button class="btn btn-primary btn-sm" type="button" id="btnConsultaIncidencia">
                <span class="icon-search" aria-hidden="true"></span> Buscar
            </button>
        </div>
    </form>
    <div class="form-group">
        <small id="EResultado" class="etiquetaError form-text form-text-error"></small>
    </div>
    <div class="row">
        <form id="formResultadoIncidencias">
            <div class="table-responsive" style="width: 100%;">
                <table class="table table-striped" id="tablaResultadosIncidencias" style="display: none;">
                    <thead>
                        <tr>
                            <th colspan="7">RESULTADOS DE LA BÚSQUEDA:</th>
                        </tr>
                        <tr>
                            <th>No. Empleado</th>
                            <th>Fecha</th>
                            <th>Hora de entrada</th>
                            <th>Hora de salida</th>
                            <th>Reportada</th>
                            <th>Incidencia</th>
                            <th>Justificante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se agregarán las filas de resultados de empleados -->
                    </tbody>
                </table>
            </div>
        </form>
    </div>

</div>

<br>
<div class="row">
    <div class="alert alert-danger" id="AlertaError" style="display: none;" role="alert"><strong>Error:</strong>
        Verificar los campos capturados.</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('gestion_empleados.static', filename='scripts/empleado.js') }}"></script>
<script src="{{ url_for('consultas.static', filename='scripts/consulta_incidencias.js') }}"></script>
{% endblock %}