{% extends "plantilla_base.html" %}
{% block content %}

<div class="row">
    <table class="table table-striped" id="tablaEmpleadoSeleccionado" style="display: none;">
        <tr>
            <th colspan="4">EMPLEADO SELECCIONADO</th>
        </tr>
        <tr>
            <th>No. Empleado:</th>
            <th>CURP:</th>
            <th>Nombre(s):</th>
            <th>Apellidos</th>
        </tr>
        <tr>
            <input type="hidden" id="idPersona" name="idPersona" value="">
            <td id="NumeroEmpleado"></td>
            <td id="CurpEmpleado"></td>
            <td id="NombreEmpleado"></td>
            <td id="ApellidosEmpleado"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>




<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#Buscar">Buscar</a></li>
    </ul>
    <div class="tab-content">
        <style>
            .tab-content form .form-control {
                margin-bottom: 0 !important;
                /* Anula el margen inferior */
            }
        </style>

        <div class="tab-pane active" id="Buscar">
            <!-- Contenido de la pestaña -->
            <form id="formularioBuscaPolitica">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group  datepicker-group" id="NumEmpGrupo">
                            <label for="lblNumEmp">No. Empleado</label>
                            <input id="NumeroBuscarEmpleado" name="NumeroBuscarEmpleado"
                                class="form-control botonModalBuscaEmpleado obligatorio" type="text">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            <small id="ENumEmp" class="etiquetaError form-text form-text-error"></small>
                        </div>
                    </div>

                </div>
                <div class="row pull-right">
                    <button class="btn btn-primary btn-sm" type="button" id="btnBuscaPolitica">
                        <span class="icon-search" aria-hidden="true"></span> Buscar
                    </button>
                </div>
            </form>
            <div class="form-group">
                <small id="EResultado" class="etiquetaError form-text form-text-error"></small>
            </div>
            <div class="row">
                <form id="formResultadoPolitica">
                    <div class="table-responsive" style="width: 100%;">
                        <table class="table table-striped" id="tablaResultadosPolitica" style="display: none;">
                            <thead>
                                <tr>
                                    <th colspan="6">RESULTADOS DE LA BÚSQUEDA:</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Nombre</th>
                                    <th>Activa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Aquí se agregarán las filas de resultado -->
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="row">
                    <div class="pull-right">
                        <button class="btn btn-primary oculta-empleado" type="button" id="btnGuardaPoliticaPersona" style="display: none;">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="alert alert-danger" id="AlertaError" style="display: none;" role="alert"><strong>Error:</strong>
        Verificar los campos capturados.</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('gestion_empleados.static', filename='scripts/empleado.js') }}"></script>
<script src="{{ url_for('gestion_asistencias.static', filename='scripts/politicas.js') }}"></script>
{% endblock %}