{% extends "plantilla_base.html" %}
{% block content %}

<div class="row">
    <table class="table table-striped" id="tablaEmpleadoSeleccionado" style="display: none;">
        <tr>
            <th colspan="3">EMPLEADO SELECCIONADO</th>
            <th>
                <button type="button" class="close" aria-label="Close" onclick="cerrarTabla()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </th>
        </tr>
        <tr>
            <th>No. Empleado:</th>
            <th>CURP:</th>
            <th>Nombre(s):</th>
            <th>Apellidos</th>
        </tr>
        <tr>
            <input type="hidden" id="idPersona" name="idPersona" value="">
            <td id="NumeroEmpleado"></td>
            <td id="CurpEmpleado"></td>
            <td id="NombreEmpleado"></td>
            <td id="ApellidosEmpleado"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>




<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item active"><a class="nav-link oculta-empleado" data-toggle="tab" href="#Crear">Crear</a></li>
        <li class="nav-item "><a class="nav-link" data-toggle="tab" href="#Buscar">Buscar</a></li>
    </ul>
    <div class="tab-content">
        <style>
            .tab-content form .form-control {
                margin-bottom: 0 !important;
                /* Anula el margen inferior */
            }
        </style>

        <div class="tab-pane active oculta-empleado" id="Crear">

            <form id="formularioCreaSancion">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group datepicker-group" id="NumEmpGrupo">
                            <label for="lblNumEmp">No. Empleado</label>
                            <input id="NumeroEmpleadoSeleccionado" name="NumeroEmpleadoSeleccionado"
                                class="form-control botonModalBuscaEmpleado" type="text" readonly>
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            <small id="ENumEmp" class="etiquetaError form-text form-text-error"></small>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="lblTipoSancion">Tipo de licencia<span id="ATipoSancion"
                                    class="form-text">*</span>:</label>
                            <select id="idSancion" name="idSancion" class="obligatorio form-control">
                                <option value="0">-- Seleccione --</option>
                                {% for sancion in TipoSancion %}
                                <option value="{{sancion.idTipoSancion}}">{{sancion.TipoSancion}}</option>
                                {% endfor %}
                            </select>
                            <small id="ETipoSancion" class="etiquetaError form-text form-text-error"></small>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group" id="contenedorPorcentaje">
                            <label for="lblPorcentajes">Porcentaje<span id="APorcentajes"
                                    class="form-text">*</span>:</label>
                            <select id="idPorcentaje" name="idPorcentaje" class="obligatorio form-control">
                                <option value="0">-- Seleccione --</option>
                                {% for porcentaje in Porcentajes %}
                                <option value="{{porcentaje.idPorcentaje}}">{{porcentaje.Porcentaje}}%</option>
                                {% endfor %}
                            </select>
                            <small id="EPorcentajes" class="etiquetaError form-text form-text-error"></small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label>
                        <input id="checkFechasConsecutivas" name="checkFechasConsecutivas" type="checkbox" value="true"
                            checked>
                        Fechas consecutivas
                    </label>
                </div>
                <div class="row">
                    <div id="fechaConsecutivas">
                        <div class="col-md-3 ">
                            <div class="form-group datepicker-group" style="z-index: 1;">
                                <label for="lblFechaInicio">Fecha de inicio<span id="AFechaInicio"
                                        class="form-text">*</span>:</label>
                                <input type="text" id="FechaInicio" name="FechaInicio"
                                    class="form-control obligatorio fecha">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                <small id="EFechaInicio" class="etiquetaError form-text form-text-error"></small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group datepicker-group" style="z-index: 1;">
                                <label for="lblFechaFin">Fecha de Fin<span id="AFechaFin"
                                        class="form-text">*</span>:</label>
                                <input type="text" id="FechaFin" name="FechaFin" class="form-control obligatorio fecha">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                <small id="EFechaFin" class="etiquetaError form-text form-text-error"></small>
                            </div>
                        </div>

                    </div>
                    <div id="fechaAlternadas" style="display: none;">
                        <div class="col-md-6 ">
                            <div class="form-group datepicker-group container-calendar" style="z-index: 1;">
                                <label for="lblFechas">Fechas<span id="AFechas" class="form-text">*</span>:</label>
                                <input type="text" id="FechasFlatpickr" name="FechasFlatpickr" class="form-control">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                <small id="EFechas" class="etiquetaError form-text form-text-error"></small>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 pull-right">
                        <div class="form-group">
                            <label for="lblQuincena">Quincena<span id="AQuincena" class="form-text">*</span>:</label>
                            <select id="NumQuincena" name="NumQuincena" class="obligatorio form-control">
                                <option value="0">-- Seleccione --</option>
                                {% for quincena in Quincenas %}
                                <option value="{{quincena.idQuincena}}">{{quincena.Descripcion}}</option>
                                {% endfor %}
                            </select>
                            <small id="EQuincena" class="etiquetaError form-text form-text-error"></small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lblDescripcion">Descripción:</label>
                            <textarea id="Descripcion" name="Descripcion" class="form-control obligatorio" rows="3"
                                style="resize: none;"></textarea>
                            <small id="EDescripcion" class="etiquetaError form-text form-text-error"></small>
                        </div>
                    </div>
                </div>

                <div class="row" id="contenedorDetallesDescuentos" style="display: none;">
                    <h3><span class="icon-infocircle" aria-hidden="true"></span> Detalles de descuentos por Artículo 37
                    </h3>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="lblFecIni">Fecha de inicio en el puesto:</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group datepicker-group" style="z-index: 1;">
                                <input type="text" id="FechaInicioPuesto" name="FechaInicioPuesto"
                                    class="form-control fecha" readonly>
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                <small id="EFechaInicioPuesto" class="etiquetaError form-text form-text-error"></small>
                            </div>
                        </div>
                    </div>

                    <h4>Descuentos:</h4>

                    <div class="row">
                        <div class="col-md-1">
                            <label>Primeros</label>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <input type="text" id="DiasPagados1" name="DiasPagados1"
                                    class="form-control obligatorio" readonly>
                                <small id="EDiasPagados1" class="etiquetaError form-text form-text-error"></small>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>días pagados al:</label>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <input type="text" id="PorcentajePagado1" name="PorcentajePagado1"
                                    class="form-control obligatorio" readonly>
                                <small id="EPorcentajePagado1" class="etiquetaError form-text form-text-error"></small>
                            </div>
                        </div>
                        <div class="col-md-1 pull-left">
                            <label>%</label>
                        </div>

                        <div class="col-md-1">
                            <label>(</label>
                        </div>
                        <div class=" col-md-1">
                            <div class="form-group">
                                <input type="text" id="DiasDisponibles1" name="DiasDisponibles1"
                                    class="form-control obligatorio" readonly>
                                <small id="EDiasDisponibles1" class="etiquetaError form-text form-text-error"></small>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>disponibles)</label>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                            <label>Después,</label>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <input type="text" id="DiasPagados2" name="DiasPagados2"
                                    class="form-control obligatorio" readonly>
                                <small id="EDiasPagados2" class="etiquetaError form-text form-text-error"></small>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>días pagados al:</label>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <input type="text" id="PorcentajePagado2" name="PorcentajePagado2"
                                    class="form-control obligatorio" readonly>
                                <small id="EPorcentajePagado2" class="etiquetaError form-text form-text-error"></small>
                            </div>
                        </div>
                        <div class="col-md-1 pull-left">
                            <label>%</label>
                        </div>
                        <div class="col-md-1">
                            <label>(</label>
                        </div>
                        <div class=" col-md-1">
                            <div class="form-group">
                                <input type="text" id="DiasDisponibles2" name="DiasDisponibles2"
                                    class="form-control obligatorio" readonly>
                                <small id="EDiasDisponibles2" class="etiquetaError form-text form-text-error"></small>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>disponibles)</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <label>Después sin pago.</label>
                        </div>
                    </div>

                </div>

                <div class="row">

                </div>

                <div class="row pull-right">
                    <button class="btn btn-primary" type="button" id="btnGuardaSancion">
                        <span class="bootstrap-icons" aria-hidden="true"><i class="bi bi-search"></i></span>
                        Guardar
                    </button>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="Buscar">
            <!-- Contenido de la pestaña -->
            <form id="formularioBuscaSancion">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group  datepicker-group" id="NumEmpGrupo">
                            <label for="lblNumEmp">No. Empleado</label>
                            <input id="NumeroBuscarEmpleado" name="NumeroBuscarEmpleado"
                                class="form-control botonModalBuscaEmpleado" type="text" readonly>
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            <small id="ENumEmp" class="etiquetaError form-text form-text-error"></small>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group datepicker-group" style="z-index: 1;">
                            <label for="lblFechaInicio">Desde<span id="AFechaInicio" class="form-text"></span>:</label>
                            <input type="text" id="BuscaFechaInicio" name="BuscaFechaInicio"
                                class="form-control obligatorio">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <small id="EFechaInicio" class="etiquetaError form-text form-text-error"></small>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="form-group datepicker-group" style="z-index: 1;">
                            <label for="lblFechaFin">Hasta<span id="AFechaFin" class="form-text"></span>:</label>
                            <input type="text" id="BuscaFechaFin" name="BuscaFechaFin" class="form-control obligatorio">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <small id="EFechaFin" class="etiquetaError form-text form-text-error"></small>
                        </div>
                    </div>

                </div>
                <div class="row pull-right">
                    <button class="btn btn-primary btn-sm" type="button" id="btnBuscaSancion">
                        <span class="icon-search" aria-hidden="true"></span> Buscar
                    </button>
                </div>
            </form>
            <div class="form-group">
                <small id="EResultado" class="etiquetaError form-text form-text-error"></small>
            </div>
            <div class="row">
                <form id="formResultadoSanciones">
                    <div class="table-responsive" style="width: 100%;">
                        <table class="table table-striped" id="tablaResultadosSanciones" style="display: none;">
                            <thead>
                                <tr>
                                    <th colspan="7">RESULTADOS DE LA BÚSQUEDA:</th>
                                </tr>

                                <tr>
                                    <th>#Empleado</th>
                                    <th>Sanción</th>
                                    <th>Fecha de inicio</th>
                                    <th>Fecha de fin</th>
                                    <th>Porcentaje</th>
                                    <th>Descripcion</th>
                                    <th>Quincena de pago</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Aquí se agregarán las filas de resultados de empleados -->
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="alert alert-danger" id="AlertaError" style="display: none;" role="alert"><strong>Error:</strong>
        Verificar los campos capturados.</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('gestion_empleados.static', filename='scripts/empleado.js') }}"></script>
<script src="{{ url_for('gestion_asistencias.static', filename='scripts/sanciones.js') }}"></script>
{% endblock %}